@media (max-width: 599px) {
    body {
        background-color: rgb(51, 51, 51);
    }
}

@media (min-width: 600px) {
    body {
        background-color: rgb(51, 51, 51);
    }
}

#terms {
    text-align: center;
    font-size: 350%;
    color: rgb(215, 168, 177);
    font-family: 'Muli';
}

#terms2 {
    text-align: center;
    font-size: 150%;
    color: rgb(215, 168, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu {
    padding: 15px 0;
    text-align: center;
}

#menu a{
    padding: 0 10px;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace ;
}

div{
    background-color: rgb(215, 168, 177) ;
}

blockquote {
    position: relative;
    background: #fafafa;
    padding: 1rem;
    margin: 1rem;
    background: #fff;
    border: 2px solid #ccc;
}

cite span:first-child {
    color: #aeadad;
    font-style: normal;
}

cite span:last-child {
    color: black;
    font-weight: bold;
    font-style: normal;
}

#text {
    position: relative;
    background: #fafafa;
    padding: 1rem;
    margin: 1rem;
    background: #fff;
    border: 2px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

#text2{
    text-align: center;
    color: rgb(215, 168, 177);
    background-color: rgb(51, 51, 51);
    padding: 10px 0;
    font-size: 150%;
}

.parent{
    justify-content: space-evenly;
    display: flex;
}

.child{
    padding: 10px;
}

img{
    width: 250px;
    height: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}